<body class="backgroundcolor">

<img class="logo2" src="https://i.imgur.com/1LY2500.png">

<h3>Book Library</h3>

<div class="container-fluid">
    <div class="row">
            <% @books.each do |b| %>
             <div class="col-md-4">
                <%= link_to image_tag(b.image_url), book_path(b), class: "bookImage" %>  
            </div>
            <% end %> 
                    
     </div>
</div>
</body>

   
