/*~~~~ Show Page ~~~~ */
* {
    font-family: 'Heebo', sans-serif;
}
#logo1 {
    display: block;
    margin: 34px auto 0 420px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel {
    width: 800px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-overflow {
    overflow: visible;
  }

.nav2, .logOut {
    float: right;
    margin-top: 15px;
    font-size: 14px;
}

.logOut {
    margin: 0;
}

a:hover.logOut {
    color:#FE6F5E
}

a {
    color: black;
}

 a:hover {
   text-decoration: none;
   color: gray;
}
/* 
img.library {
    width: 100%;
} */

/* ~~~ Sign Up/Login Page ~~~~ */

.info {
    font-size: 24px;
    margin-top: 70px;
    text-align: center;
}

p#alert {
    margin-left: 500px;
    color: red;
}
.logo2, #logo3 {
    margin: 10px 0 0 10px;
}

.field1, .field2, {
    font-size: 16px;
    text-align: left;
    margin-bottom: 4px;
}

.field1 {
    padding-left: 32px;
}

.field2 {
    padding-left: 40px;
}

.border1, .border2, .editBox {
    border: 1px solid black;
}

.border1 {
    margin: 33px 350px 0 350px;
    padding: 40px 0 30px 0;
}

.border2 {
    margin: 33px 353px 0 383px;
    padding: 40px 0 24px 0;
}

.labels {
    font-size: 17px;
}

.text, .secure, .create, .rightSide {
    float: right;
    border-radius: 4.5px;
    border: .7px solid black;
}

.text {
    margin-right: 24px;
}

.secure {
    margin-right: 36px;
}

.actions {
    text-align: center;
    margin-top: 20px;
}

.button {
    font-size: 14px;
    color: white;
    background-color: black;
    border-radius: 6px;
    text-align: center;
    padding: 5px 10px 5px 10px;
}


/* ~~~ Book Page ~~~~ */
.backgroundColor {
    background-color: #F5F5F5;
}

img {
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 7px;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 7px;
    padding-right: 6px;
    padding-left: 5px;
}

h3 {
    margin: 30px 0 0 23px;
}

/* ~~ Book Show Page ~~~ */

div {
    display: block;

}
h4 {
    font-size: 17px;
}

h4, p {
    text-align: left;
    display: inline;
}

.leftContainer, .rightContainer {
    margin-top: 30px;
}

.leftContainer {
    float: left;
    width: 79%;
}

.rightContainer {
    float: right;
    width: 200px;
    margin-top: 45px;
}

#bookInfo{
    width: 500px;
    margin-top: 300px;
    float: right;
}

img.bookPic {
    width: 310px;
    height: 400px;
    margin-top: 13px;
    padding: 10px 29px 9px 21px;
}

.storyBoard {
    margin-top: 5px;
}

ul {
    list-style-type: none;
    margin-top: 10px;
    padding-left: 0;
}

li {
    margin-bottom: 20px;
    margin-top: 34px;
}

.storyboardName {
    padding-right: 10px;
}

#name {
    margin-right: 5px;
    font-size: 23px;
}

.btn-danger {
    background-color: #0D3956;
    border: #0D3956;
}

.btn-danger:hover, .btn-primary:hover, #add:hover {
    background-color: black;
}

.btn-primary {
    background-color: #560335;
    border: #560335;
}

.bottom {
    margin-top: 10px;
}

.addBook, .delete {
    float: right;
}

.addBook {
    padding-right: 37px;
}

/* ~~~ Storyboard Page ~~~*/

.rightSide {
    float: right;
    padding: 30px;
    border-radius: 14%;
    margin-right: 40px;
}

h1 {
    font-size: 29px;
    margin: 0;
    margin-top: 36px;
}

h5 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0px;
    font-weight: 700;
}

.submitBtn {
    margin: 0;
    margin-left: 45px;
}

.submitButton {
    margin-left: 33px;
}

.create {
    margin-bottom: 17px;
    margin-top: 3px;
}

#add {
    background-color: #560335;
    color: white;
    padding: 3px 11px 3px 11px;
    border-radius: 4.5px;
}

img.picture {
    height: 145px;
}

.picture {
    width: 100px;
    display: inline-block;
}

.editBox {
    float: right;
    margin: 0;
    padding-top: 42px;
    padding-right: 49px;
    padding-left: 53px;
    padding-bottom: 33px;
    margin: 200px 58px 0 0;
}

.editName {
    font-size: 16px;
    font-weight: 700;
}

a.link {
    margin-top: 100px;
}

.back {
    margin-left: 62px;
}

h6 {
    font-size: 20px;
}

.left {
    margin-top: 40px;
}

h2 {
    text-align: center;
}

